@model IEnumerable<LexiconLMS.Models.Module>

@{
    ViewBag.Title = "Moduler";
}

<h2>Moduler</h2>

<div class="bs">
    <ul class="breadcrumb">
        <li>
            <a href="http://localhost:51210/Course"><div class="node-title">Kurser</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Module"><div class="node-title">Modul</div></a>
        </li>
        <li class="current">
            <div class="node-title">Listvy moduler</div>
        </li>
    </ul>
</div>


@if (User.IsInRole(LexiconLMS.Models.Role.Teacher))
{
<p>
    @Html.ActionLink("Skapa modul", "Create", new { courseId = ViewBag.courseId })
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            @if (item.Id == ViewBag.moduleId){<label class="text-danger">&nbsp;&nbsp;ᗏᗏᗏ</label>}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>

        @if (User.IsInRole(LexiconLMS.Models.Role.Teacher))
        {
        <td>
            @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
            @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Radera", "Delete", new { id = item.Id })          
        </td>
        }
        <td align="right" width="200px">
            @Html.ActionLink("Aktiviteter", "Index", "Activities", new { moduleId = item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
    }
</table>
<div>
    @if (Model.Count() > 0)
    {
        @Html.ActionLink("Tillbaka till kurslista", "Index", "Course", new { id = @Model.FirstOrDefault().CourseId }, null)
    }
    else
    {
        @Html.ActionLink("Tillbaka till kurslista", "Index", "Course") 
    }
</div>
