@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Radera aktivitet";
}

<h2>Radera aktivitet</h2>

<div class="bs">
    <ul class="breadcrumb">
        <li>
            <a href="http://localhost:51210/Course"><div class="node-title">Kurser</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Module"><div class="node-title">Modul</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Activities"><div class="node-title">Aktiviteter</div></a>
        </li>
        <li class="current">
            <div class="node-title">Radera aktivitet</div>
        </li>
    </ul>
</div>

<h3>Är du säker på att du vill radera aktiviteten?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
