@model LexiconLMS.Models.Activity

@{
    ViewBag.Title = "Detaljvy aktivitet";
}

<h5>@Model.Module.Course.Name / @Model.Module.Name</h5>
<h2>Aktivitet: @Model.Name</h2>

@*<div class="bs">
    <ul class="breadcrumb">
        <li>
            <a href="http://localhost:51210/Course"><div class="node-title">Kurser</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Module"><div class="node-title">Modul</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Activities"><div class="node-title">Aktiviteter</div></a>
        </li>
        <li class="current">
            <div class="node-title">Detaljvy aktiviteter</div>
        </li>
    </ul>
</div>*@

<div>
    <h4></h4>
    <hr />
    @Html.HiddenFor(model => model.ModuleId)
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Name)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
    <p>
        @if (User.IsInRole(LexiconLMS.Models.Role.Teacher)){
            @Html.ActionLink("Redigera", "Edit", new { id = Model.Id })}
        <div>
            @Html.ActionLink("Tillbaka till modulens aktiviteter", "Index", new { moduleId = Model.ModuleId, activitiesId = Model.Id })
        </div>
    </p>
