@model IEnumerable<LexiconLMS.Models.Activity>

@{
    ViewBag.Title = "Aktiviteter";
}

<h2>Aktiviteter</h2>

<div class="bs">
    <ul class="breadcrumb">
        <li>
            <a href="http://localhost:51210/Course"><div class="node-title">Kurser</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Module"><div class="node-title">Modul</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/Activities"><div class="node-title">Aktiviteter</div></a>
        </li>
        <li class="current">
            <div class="node-title">Listvy aktiviteter</div>
        </li>
    </ul>
</div>

<p>
    @if (ViewBag.moduleId > 0)
    {
        @Html.ActionLink("Skapa ny aktivitet", "Create", new { moduleId = ViewBag.moduleId })        
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Id == ViewBag.activitiesId)
                    {<label class="text-danger">=>&nbsp;&nbsp;</label>}
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }) |
                @Html.ActionLink("Radera", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
    @*@Html.ActionLink("Tillbaka till moduler", "Index", "Module", new { moduleId = ViewBag.moduleId, courseId = ViewBag.courseId },null)*@
</div>