@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Detaljer";
}

<div>
    <h4></h4>
    <hr />
    @*@Html.HiddenFor(model => model.ModuleId)*@
    <dl class="container-fluid">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd style="border:dashed;border-color:lightslategray">
            @Html.Raw(Model.Content)
        </dd>

    </dl>
    <div class="container-fluid">
        <div>@Html.ActionLink("Redigera", "Edit", new { id = Model.Id })</div>
        <div>@Html.ActionLink("Tillbaka till kurslista", "Index", new { id = Model.Id })</div>
    </div>  
</div>









