@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Kurssida";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="container-fluid">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            
        </dt>

        <dd>
            @Html.Raw(Model.Content)
        </dd>

    </dl>
</div>

