@model LexiconLMS.Models.ViewModels.UserViewModelForDelete

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div class="bs">
    <ul class="breadcrumb">
        <li>
            <a href="http://localhost:51210/Course"><div class="node-title">Kurser</div></a>
        </li>
        <li>
            <a href="http://localhost:51210/User"><div class="node-title">Användare</div></a>
        </li>
        <li class="current">
            <div class="node-title">Ta bort</div>
        </li>
    </ul>
</div>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserFName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserLName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserLName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserPhoneNumber)
        </dd>

        @if (Model.User.CourseId != 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.CourseName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CourseName)
            </dd>
        } else
        {
            <dt>Detta är en lärare.</dt><dd></dd>
        }


        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
}
</div>
