@model IEnumerable<LexiconLMS.Models.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.uPhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uPhoneNumber)
        </td>
  
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
